/* Navbar */
.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: transform 0.3s;
    background-color: #0A1537;
  }
  
  .navbar-brand {
    font-family: Viga;
    font-size: 25px;
    color: #4AC559;
  }
  .nav-link {
    font-family: Poppins;
    font-size: 20px;
    margin-left: 20px;
    color: #FFFFFF;
  }

  /* home */
   .home {
    font-family: Poppins;
    background-color: #0A1537;
    min-height: 95vh; 
    display: flex; 
    align-items: center; 
    padding: 5px 0; 
  }

  /* about */
  .about {
    background-color: #202D55;
    min-height: 100vh;
    font-family: Poppins;
    padding-bottom: 20px;
  }
  .about .container{
    
  }
  .container-rectangle {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: flex-start; 
    gap: 20px; 
  }
  .rectangle {
    width: 92px; 
    height: 33px; 
    background-color: #D9D9D9; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 10px; 
    color: 50545C; 
    font-size: 16px; 
  }
  /* Media query untuk desktop */
  @media (min-width: 768px) {
    .about {
        min-height: 85vh; 
        padding: 40px; 
    }

    .text-about-jd, .text-about-desc {
        margin-bottom: 15px; 
    }
  }

  /* project */
  .project {
    background-color: #222A41;
    padding-bottom: 25px;
  }

  .custom-card-shadow {
    box-shadow: 4px -2px 2px 0px rgba(255, 255, 255, 0.5);
  }

  .card-img-top {
    transition: transform 0.5s ease-in-out; 
  }
  
  .card:hover .card-img-top {
    transform: scale(1.1);
  }
  .custom-card {
    background-color: #f0f0f0; 
    color: #333; 
    border: none; 
  }
  
  .custom-card:hover {
    background-color: #e0e0e0; 
  }

  /* contact */
  .contact {
    background-color: #222A41;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .form-contact {
    max-width: 800px;
    margin: auto;
  }

  /* footer */
.footer {
  position: static;
  font-family: Poppins;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 180px;
  background-color: #202D55;
}
.footer .container {
  text-align: center;
  margin-top: 20px;
  height: 100px;
  color: #fff;
}

.footer .container .text {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

.footer .container span svg {
  margin-left: 10px;
  margin-bottom: 10px;
}
.custom-svg {
  fill: white;
}
