/* Navbar */
.navbar {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 999;
    transition: transform 0.3s;
    background-color: #0A1537;
  }
  
  /* .navbar--hidden {
    transform: translateY(-63px);
  } */
  .navbar-brand {
    font-family: Viga;
    font-size: 25px;
    color: #4AC559;
  }
  .nav-link {
    font-family: Poppins;
    font-size: 20px;
    margin-left: 20px;
    color: #FFFFFF;
  }

  /* home */
   .home {
    font-family: Poppins;
    background-color: #0A1537;
    min-height: 95vh; /* Menjaga tinggi minimal sesuai dengan tinggi layar */
    display: flex; /* Membuat konten bisa ditengah secara vertikal */
    align-items: center; /* Menjaga konten tetap di tengah secara vertikal */
    padding: 5px 0; /* Memberikan padding atas dan bawah */
  }

  /* about */
  .about {
    background-color: #202D55;
    min-height: 100vh;
    font-family: Poppins;
    padding-bottom: 20px;
  }
  .about .container{
    
  }
  .container-rectangle {
    display: flex; /* Menggunakan flexbox untuk tata letak */
    flex-wrap: wrap; /* Membungkus kotak ke baris baru jika perlu */
    justify-content: flex-start; /* Rata kiri */
    gap: 20px; /* Jarak antara kotak */
  }
  .rectangle {
    width: 92px; /* Atur lebar kotak */
    height: 33px; /* Atur tinggi kotak */
    background-color: #D9D9D9; /* Warna latar belakang kotak */
    display: flex; /* Gunakan flexbox untuk pusatkan konten */
    justify-content: center; /* Pusatkan secara horizontal */
    align-items: center; /* Pusatkan secara vertikal */
    border-radius: 10px; /* Atur sudut lengkung (opsional) */
    color: 50545C; /* Warna teks */
    font-size: 16px; /* Ukuran font */
  }
  /* Media query untuk desktop */
  @media (min-width: 768px) {
    .about {
        min-height: 85vh; /* Mengurangi tinggi untuk desktop */
        padding: 40px; /* Atur padding untuk memberikan ruang lebih */
    }

    .text-about-jd, .text-about-desc {
        margin-bottom: 15px; /* Mengurangi margin di desktop */
    }
  }

  /* project */
  .project {
    background-color: #222A41;
    padding-bottom: 25px;
  }

  .custom-card-shadow {
    box-shadow: 4px -2px 2px 0px rgba(255, 255, 255, 0.5);
  }

  .card-img-top {
    transition: transform 0.5s ease-in-out; /* Animasi zoom yang halus */
  }
  
  .card:hover .card-img-top {
    transform: scale(1.1); /* Zoom 10% */
  }
  .custom-card {
    background-color: #f0f0f0; /* Warna latar belakang kartu (contoh warna abu-abu) */
    color: #333; /* Warna teks */
    border: none; /* Menghapus border default kartu (opsional) */
  }
  
  .custom-card:hover {
    background-color: #e0e0e0; /* Warna latar belakang saat hover */
  }

  /* contact */
  .contact {
    background-color: #222A41;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .form-contact {
    max-width: 800px;
    margin: auto;
  }

  /* footer */
.footer {
  position: static;
  font-family: Poppins;
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 180px;
  background-color: #202D55;
}
.footer .container {
  text-align: center;
  margin-top: 20px;
  height: 100px;
  color: #fff;
}

.footer .container .text {
  text-decoration: none;
  color: #fff;
  margin-left: 10px;
}

.footer .container span svg {
  margin-left: 10px;
  margin-bottom: 10px;
}
.custom-svg {
  fill: white;
}
